<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance 
	http://www.springmodules.org/schema/cache/springmodules-cache.xsd" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		id="WebApp_ID" version="2.5">
  <display-name>SpringMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/config/root-context.xml</param-value>
  </context-param>
  
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 如果不指定DispatchServlet配置指定路径，会默认从/WEB-INF/springServlet-context.xml文件加载上下文。其中springServlet为servlet-name -->
  <servlet>
  	<servlet-name>springServlet</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/config/applicationContext.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  	<multipart-config>
  		<location>/tmp/multipart/</location>
  		<max-file-size>2097152</max-file-size>
  		<max-request-size>4194304</max-request-size>
  	</multipart-config>
  </servlet>
  
  
  
  <servlet-mapping>
  	<servlet-name>springServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>